/* App */
.App {
  width: 100%;
  /* margin: 0 auto; */
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.lg-menu {
  display: block;
}
.sm-menu {
  display: none;
}
html {
  scroll-behavior: smooth;
}
.link {
  text-decoration: none !important;
}
.link-active {
  color: rgb(47, 77, 243) !important;
}
.common-mt {
  margin-top: 6%;
  margin-bottom: 9%;
  padding: 0px 5%;
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: rgb(26 26 26 / 80%) !important;
}
.cross {
  position: absolute;
  top: -10;
  right: 0;
  top: -10%;
  transform: translate(50%, 0%);
  background: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px 10px;
}
.cross:hover {
  background: rgb(173, 172, 172);
}
.css-ghpphw {
  background-color: rgba(255, 255, 255, 0) !important;
}

/* Top */
.Top {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  right: 5%;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar .lg-menu {
  margin-right: 20%;
}

.navbar .menu ul {
  display: flex;
  padding: 10px;
}
.navbar .logo {
  width: 20%;
  height: 100%;
}
.navbar .menu ul li {
  list-style: none;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(19, 255, 176), rgb(7, 234, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .menu ul li:hover {
  background: -webkit-linear-gradient(rgb(6, 91, 189), rgb(7, 234, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .fPDpuU {
} */

.banner {
  width: 100%;
}
.lcUbOd {
  background-color: rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 3px rgb(32 249 225 / 50%) !important;
}

.banner p {
  color: rgba(32, 249, 224, 0.863) !important;
  font-size: 1.3rem;
  font-weight: bold !important;
  letter-spacing: 1.5px;
}
.rec-carousel-item:focus {
  border: 1px solid rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 1px rgb(32 249 225 / 50%) !important;
}

button.rec-dot {
  border: 1px solid rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 1px rgb(32 249 225 / 50%) !important;
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus,
button.rec-carousel-item:focus,
button.rec-carousel-item {
  border: 1px solid rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 2px rgb(32 249 225 / 50%) !important;
}

.eaptOe {
  background-color: transparent;

  /* border: 1px solid rgb(32 249 225 / 50%) !important; */
  box-shadow: 0 0 1px 2px rgb(32 249 225 / 50%) !important;
}
.banner img {
  object-fit: cover;
  height: 70vh;
  width: 100%;
}
.shape-main {
  display: flex;
  /* margin-left: 30%; */
}
.shape-main img {
  /* clip-path: polygon(22% 0, 77% 0, 100% 45%, 77% 100%, 23% 100%, 0 52%); */
  clip-path: polygon(22% 0, 77% 0, 100% 45%, 77% 100%, 23% 100%, 0 52%);

  /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
  /* border: 1px solid white; */
  background: rgba(255, 0, 0, 0);
  padding: 0px;
}
.services img {
  -webkit-clip-path: polygon(81% 0, 99% 51%, 77% 100%, 25% 100%, 0 51%, 21% 0);
  clip-path: polygon(68% 0, 85% 48%, 69% 100%, 19% 100%, 0 51%, 15% 0);
  background: rgba(255, 0, 0, 0);
  padding: 0px;
  object-fit: content;
  /* background-color: red; */
  /* width: 80% !important; */
}
#innovation img {
  -webkit-clip-path: polygon(81% 0, 99% 51%, 77% 100%, 25% 100%, 0 51%, 21% 0);
  clip-path: polygon(68% 0, 85% 48%, 69% 100%, 19% 100%, 0 51%, 15% 0);
  background: rgba(255, 0, 0, 0);
  padding: 0px;
  object-fit: content;
  /* background-color: red; */
}
.ImageBottom.shape-left.InnovationRight {
  transform: translate(-12%, -32%) rotate(0deg);
}
.ImageTop.Innovationleft.shape-left {
  transform: translate(1%, 1%) rotate(360deg);
}

.service-main .sectionTitle {
  padding: 0px 15px;
  margin: 0;
}

img:hover {
  cursor: pointer;
}

/* .shape-main img:hover {
  align-self: center;
  clip-path: polygon(22% 0, 77% 0, 100% 45%, 77% 100%, 24% 100%, 0 52%);
  background: red;
  padding: 10px;
} */
.activeClip {
}
.shape-main p {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

  border: 1px solid white;
  height: 150px;
  width: 150px;
  /* margin-top: -23%; */
}
.shape-main {
  display: flex;
}
.shape-left {
  align-self: center;
}
.shape-right {
  display: flex;
  flex-direction: column;
}
.shape-right img {
  /* padding: 20px; */
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.service-main {
  display: flex;
  justify-content: end;
}
.service-main p {
  width: 85%;
  /* text-align: justify; */
}
#services .sectionTitle {
  color: rgb(127, 233, 233);
  margin-left: 0px;
  text-align: center;
}
.inspirationheader .sectionTitle {
  margin: 10px auto;
  text-align-last: center;
}
.Inspiration-main .shape-left {
  align-self: center;
  margin-right: -5%;
  margin-top: 3%;
}
.inspiratio .sectionTitle {
  color: rgb(127, 233, 233);
  margin: 0px;
  text-align-last: center;
}

/* Innovationleft */

.Innovationleft {
  display: flex;
}
.InnovationRight {
  display: flex;
  justify-content: flex-end;
  margin-top: -5%;
}
.shape-left.InnovationRight.Present {
  margin-top: 50%;
}

/* inspiration-padding */
/* .inspiration-padding {
  padding: 0 2%;
} */

/* about */
.option {
  /* border: 1px solid rgba(1, 44, 39, 0.5) !important; */
  background-color: rgb(0, 0, 0) !important;
  padding: 0px 50px;
  border-radius: 10px;
}
.option p {
  margin: 5px;
  font-size: 1.2em;
  letter-spacing: 1px;
  word-spacing: 4px;
  line-height: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 10px;
}
.option p:hover {
  background-color: rgb(0, 0, 0);
}
.Inspiration-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: flex;
  align-self: center;
  justify-content: center;
}
.sectionTitle {
  color: rgb(127, 233, 233);
  margin-left: 100px;
}
.FooterTitle {
  color: rgb(127, 233, 233);

  margin-left: 100px;
}

.inspirationShape img {
  width: 350px;
  height: 300px;
}

.footer {
  background-color: rgb(0, 0, 0);
}
.footer span {
  margin: 0px 5%;
}
.footer span:nth-child(1):hover {
  color: rgb(39, 84, 207);
}

.footer span:nth-child(2):hover {
  color: #5120d6;
}

.footer span:nth-child(3):hover {
  color: rgb(106, 143, 243);
}

.footer span:nth-child(4):hover {
  color: rgb(7, 45, 151);
}
.inspirationShape.bg-shape.shape-left {
  margin-right: -3%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 1441px) {
  .inspirationShape img {
    width: 200px !important;
    height: 200px !important;
    margin-top: 14px;
  }
  .Inspiration-main .shape-left {
    align-self: center;
    margin-right: -4%;
    margin-top: 1%;
  }

  .bg-shape img {
    width: 300px !important;
    height: 300px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .inspirationShape img {
    width: 200px !important;
    height: 200px !important;
  }
  .Inspiration-main .shape-left {
    align-self: center;
    margin-right: -4%;
    margin-top: 1%;
  }

  .bg-shape img {
    width: 300px !important;
    height: 300px !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .inspirationShape img {
    width: 200px !important;
    height: 200px !important;
  }
  .inspirationMain {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .bg-shape img {
    width: 250px !important;
    height: 250px !important;
  }
  span.skip {
    right: 23px;
    top: 13px;
    font-size: 18px;
  }
  .sectionTitle {
    font-size: 35px !important;
    text-align: center;
    /* background-color: rgb(148, 24, 24); */
    margin: 0 auto 5%;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .inspirationMain {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  span.skip {
    right: 23px;
    top: 13px;
    font-size: 18px;
  }
  .inspirationMain {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .inspirationShape img {
    width: 200px !important;
    height: 200px !important;
  }
  .bg-shape img {
    width: 220px !important;
    height: 220px !important;
  }
  .sectionTitle {
    font-size: 35px !important;
    text-align: center;
    margin: 10% auto;
  }
  span.skip {
    right: 23px;
    top: 13px;
    font-size: 18px;
  }
  .sectionTitle {
    font-size: 35px !important;
  }
}
@media (max-width: 575.98px) {
  span.skip {
    right: 23px;
    top: 13px;
    font-size: 18px;
  }
  .inspirationShape img {
    width: 150px !important;
    height: 150px !important;
  }
  .inspirationMain {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .sectionTitle {
    font-size: 35px !important;
    text-align: center;
    /* background-color: rgb(148, 24, 24); */
    margin: 15% auto;
  }
  .bg-shape img {
    width: 220px !important;
    height: 220px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .lg-menu {
    display: none;
  }
  .sm-menu {
    display: block;
  }
  .hamburger {
    font-size: 52px;
    font-weight: bold;
  }
  .mid-nav {
    position: absolute;
    background-color: rgb(7, 3, 44);
    z-index: 100;
    top: -100%;
    width: 100%;
  }
  .mid-nav p {
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(19, 255, 176), rgb(7, 234, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .mid-nav p:hover {
    background-color: rgb(7, 134, 92);
    background: -webkit-linear-gradient(rgb(7, 134, 92), rgb(1, 125, 129));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}

h1 {
  font-size: 3rem;
}
