/* App */
.App {
  width: 100%;
  /* margin: 0 auto; */
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.lg-menu {
  display: block;
}
.sm-menu {
  display: none;
}
html {
  scroll-behavior: smooth;
}
.link {
  text-decoration: none !important;
}
.link-active {
  color: rgb(47, 77, 243) !important;
}
.common-mt {
  margin-top: 6%;
  margin-bottom: 9%;
  padding: 0px 5%;
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: rgb(26 26 26 / 80%) !important;
}
.cross {
  cursor: pointer;
  position: absolute;
  top: -10;
  right: 0;
  top: -10%;
  transform: translate(50%, 0%);
  background: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px 10px;
}
.cross:hover {
  background: rgb(173, 172, 172);
}
.css-ghpphw {
  background-color: rgba(255, 255, 255, 0) !important;
}

/* Top */
.Top {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  right: 5%;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar .lg-menu {
  margin-right: 20%;
}

.navbar .menu ul {
  display: flex;
  padding: 10px;
}
.navbar .logo {
  width: 20%;
  height: 100%;
}
.navbar .menu ul li {
  list-style: none;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(19, 255, 176), rgb(7, 234, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .menu ul li:hover {
  background: -webkit-linear-gradient(rgb(6, 91, 189), rgb(7, 234, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .fPDpuU {
} */

.banner {
  width: 100%;
}
.lcUbOd {
  background-color: rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 3px rgb(32 249 225 / 50%) !important;
}

.banner p {
  color: rgba(32, 249, 224, 0.863) !important;
  font-size: 1.3rem;
  font-weight: bold !important;
  letter-spacing: 1.5px;
}
.rec-carousel-item:focus {
  border: 1px solid rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 1px rgb(32 249 225 / 50%) !important;
}

button.rec-dot {
  border: 1px solid rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 1px rgb(32 249 225 / 50%) !important;
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus,
button.rec-carousel-item:focus,
button.rec-carousel-item {
  border: 1px solid rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 2px rgb(32 249 225 / 50%) !important;
}

.eaptOe {
  background-color: transparent;

  /* border: 1px solid rgb(32 249 225 / 50%) !important; */
  box-shadow: 0 0 1px 2px rgb(32 249 225 / 50%) !important;
}
.banner img {
  object-fit: cover;
  height: 70vh;
  width: 100%;
}
.shape-main {
  display: flex;
  /* margin-left: 30%; */
}
.journetTitle {
  margin-left: 1px !important;
}
.shape-main img {
  /* clip-path: polygon(22% 0, 77% 0, 100% 45%, 77% 100%, 23% 100%, 0 52%); */
  clip-path: polygon(22% 0, 77% 0, 100% 45%, 77% 100%, 23% 100%, 0 52%);

  /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
  /* border: 1px solid white; */
  background: rgba(255, 0, 0, 0);
  padding: 0px;
}

.journeyShape .services img {
  -webkit-clip-path: polygon(81% 0, 99% 51%, 77% 100%, 25% 100%, 0 51%, 21% 0);
  clip-path: polygon(68% 0, 85% 48%, 69% 100%, 19% 100%, 0 51%, 15% 0);
  background: rgba(255, 0, 0, 0);
  padding: 0px;
  object-fit: content;
  /* background-color: red; */
  /* width: 80% !important; */
}
#innovation img {
  -webkit-clip-path: polygon(81% 0, 99% 51%, 77% 100%, 25% 100%, 0 51%, 21% 0);
  clip-path: polygon(68% 0, 85% 48%, 69% 100%, 19% 100%, 0 51%, 15% 0);
  background: rgba(255, 0, 0, 0);
  padding: 0px;
  object-fit: content;
  /* background-color: red; */
}
.ImageBottom.shape-left.InnovationRight {
  /* transform: translate(-12%, -32%) rotate(0deg); */
  /* margin-left: -6%; */
}
.ImageTop.Innovationleft.shape-left {
  /* transform: translate(1%, 1%) rotate(360deg); */
  transform: translate(11%, 35%) rotate(360deg);
}

.service-main .sectionTitle {
  padding: 0px 15px;
  margin: 0;
}

img:hover {
  cursor: pointer;
}

.about-img-two {
  background: url(./assets/aboutUpor.jpeg) no-repeat;
  margin-top: 0px !important;
  background-position: center;
  background-size: cover;
}
.innvTwo {
  background: url(./assets/innvUpor.jpeg) no-repeat;
  margin-top: 0px !important;
  background-position: center;
  background-size: cover;
}
.innvOne {
  background: url(./assets/innvNich.jpeg) no-repeat;
  margin-top: 0px !important;
  background-position: center;
  background-size: cover;
}

/* .shape-main img:hover {
  align-self: center;
  clip-path: polygon(22% 0, 77% 0, 100% 45%, 77% 100%, 24% 100%, 0 52%);
  background: red;
  padding: 10px;
} */
.activeClip {
}
.shape-main p {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

  border: 1px solid white;
  /* height: 150px;
  width: 150px; */
  /* margin-top: -23%; */
}
.shape-main {
  display: flex;
}
.shape-left {
  align-self: center;
}
.shape-right {
  display: flex;
  flex-direction: column;
}
.shape-right img {
  /* padding: 20px; */
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

/* shape****************** */

.shape1 {
  height: 200px;
  width: 200px;
  background-color: rgb(223, 223, 223);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

  position: relative;
}
.b1 {
  transform: scale(1.1);
  cursor: pointer;
}
.b2 {
  transform: scale(0.75);
  cursor: pointer;
}
.b3 {
  transform: scale(1.2);
  cursor: pointer;
}
.shape1.b2.b2Bottom {
  margin-top: -20%;
}
.shape1.b2.b2Bottom1 {
  margin-top: -20%;
}
.shape1 p {
  position: absolute;
  top: 50%;
  left: 50%;
  border: none !important;
  padding: 20px;
  transform: translate(-50%, -74%);
  font-size: 28px;
  /* color: rgb(8, 3, 37); */
}
/* shape****************** */

.service-main {
  display: flex;
  justify-content: end;
}
.service-main p {
  width: 85%;
  /* text-align: justify; */
}
#services .sectionTitle {
  color: rgb(127, 233, 233);
  margin-left: 0px;
  text-align: center;
}
.inspirationheader .sectionTitle {
  margin: 10px auto;
  text-align-last: center;
}
.Inspiration-main .shape-left {
  align-self: center;
  margin-right: -5%;
  margin-top: 3%;
}
.inspiratio .sectionTitle {
  color: rgb(127, 233, 233);
  margin: 0px;
  text-align-last: center;
}

/* Innovationleft */

.Innovationleft {
  display: flex;
}
.InnovationRight {
  display: flex;
  justify-content: flex-end;
  margin-top: -4%;
}
.shape-left.InnovationRight.Present {
  margin-top: 50%;
}

/* inspiration-padding */
/* .inspiration-padding {
  padding: 0 2%;
} */

/* about */
.option {
  /* border: 1px solid rgba(1, 44, 39, 0.5) !important; */
  background-color: rgb(0, 0, 0) !important;
  padding: 0px 50px;
  border-radius: 10px;
}
.option p {
  margin: 5px;
  font-size: 1.2em;
  letter-spacing: 1px;
  word-spacing: 4px;
  line-height: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 10px;
}
.option p:hover {
  background-color: rgb(0, 0, 0);
}
.Inspiration-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: flex;
  align-self: center;
  justify-content: center;
}
.sectionTitle {
  color: rgb(127, 233, 233);
  margin-left: 100px;
}
.FooterTitle {
  color: rgb(127, 233, 233);

  margin-left: 100px;
}

.inspirationShape img {
  width: 350px;
  height: 300px;
}

.footer {
  background-color: rgb(0, 0, 0);
}

.footer a {
  color: rgb(255, 255, 255);
  margin: 0px 2%;
}

.footer a:nth-child(1):hover {
  color: rgb(39, 84, 207);
}

.footer a:nth-child(2):hover {
  color: #5120d6;
}

.footer a:nth-child(3):hover {
  color: rgb(106, 143, 243);
}

.footer a:nth-child(4):hover {
  color: rgb(7, 45, 151);
}
.inspirationShape.bg-shape.shape-left {
  margin-right: -3%;
}

.insp-img-one {
  background: url(./assets/VintagePhotos.jpg) no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.insp-img-two {
  background: url(./assets/inspUpor.jpeg) no-repeat !important;
  margin-top: 0px !important;
  background-position: center !important;
  background-size: cover !important;
}
.insp-img-three {
  background: url(./assets/inspNic.jpeg) no-repeat !important;
  margin-top: 0px !important;
  background-position: center !important;
  background-size: cover !important;
}
.insr-mainleft {
  padding: 5% !important;
}
.aboutShape {
  margin-top: -5% !important;
  margin-left: -4% !important;
}

.about-img-one {
  background: url(./assets/aboutB.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 5px;
}

.about-img-two {
  background: url(./assets/aboutUpor.jpeg) no-repeat;
  margin-top: 0px !important;
  background-position: center;
  background-size: cover;
}

.about-img-three {
  background: url(./assets/aboutNich.jpeg) no-repeat;
  margin-top: 0px !important;
  background-position: center;
  background-size: cover;
}

.big-aboutB,
.insr-main,
.insr-mainleft {
  cursor: pointer;
}
.serviceP {
  padding-top: 10%;
}

.services img {
  clip-path: polygon(25% 0%, 75% 0%, 86% 50%, 75% 100%, 25% 100%, 11% 50%);
}

.innobB {
  margin-top: -15%;
}

.innova-D-image {
  margin-top: 22%;
}
.inov-inst {
  margin-top: -32%;
}

/* img.aboutShapeImage2 {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 6% 50%);
}
img.aboutShapeImage3 {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 4% 50%);
} */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 1441px) {
  /* img.aboutShapeImage3 {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 4% 50%);
    margin-left: 3% !important;
  } */

  .about-img-one {
    background: url(./assets/aboutB.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
  }
  .navbar .lg-menu {
    margin-right: 36%;
  }

  .about-img-two {
    background: url(./assets/aboutUpor.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }

  .about-img-three {
    background: url(./assets/aboutNich.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .aboutShape {
    margin-top: -1% !important;
    margin-left: -6% !important;
  }

  .inspirationShape img {
    width: 280px !important;
    height: 230px !important;
    margin-top: 14px;
  }
  .inspirationShape {
    margin-left: -8%;
  }
  .shape1.b2.b2Top {
    margin-right: 2%;
  }
  .shape1.b2.b2Top1 {
    margin-right: 6%;
  }
  .insr-main {
    width: 280px !important;
    height: 230px !important;
    padding: 2%;
    margin-top: 14px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  .big-about {
    height: 314px !important;
    width: 319px !important;
    clip-path: polygon(25% 0%, 72% 0%, 100% 50%, 72% 100%, 25% 100%, 0% 50%);
  }
  .inspirationShape1 {
    width: 280px !important;
    height: 230px !important;
    margin-top: 14px;

    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    /* background-size: cover; */
  }
  .big-aboutB {
    height: 314px !important;
    width: 319px !important;
    clip-path: polygon(25% 0%, 72% 0%, 100% 50%, 72% 100%, 25% 100%, 0% 50%);
  }
  .about-D-image {
    margin-left: -12%;
  }
  .insp-img-one {
    /* background: url(./assets/VintagePhotos.jpg) no-repeat; */
    background-position: center;
    background-size: cover;
  }

  .insp-img-two {
    /* background: url(./assets/Scrollimage3.jpg) no-repeat; */
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .insr-mainleft {
    padding: 5% !important;
  }
  .insp-img-three {
    /* background: url(./assets/GreetCard1.jpg) no-repeat; */
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .Inspiration-main .shape-left {
    align-self: center;
    margin-right: -4%;
    margin-top: 1%;
  }
  .big-about {
    height: 300px;
  }

  .bg-shape img {
    width: 300px !important;
    height: 300px !important;
    margin-top: 5%;
    clip-path: polygon(24% 0%, 68% 0%, 99% 50%, 69% 100%, 24% 100%, 0% 50%);
  }
  .inspirationShape.bg-shape.shape-left {
    margin-right: 0%;
  }
  .innova-D-image {
    margin-top: 24%;
  }
  .inov-inst {
    margin-top: -18%;
  }
  .innvTwo {
    background: url(./assets/innvUpor.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .innvOne {
    background: url(./assets/innvNich.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .navbar .lg-menu {
    margin-right: 26%;
  }
  .shape1 {
    height: 160px;
    width: 200px;
    background-color: rgb(223, 223, 223);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

    position: relative;
  }
  .b1 {
    transform: scale(0.9);
  }
  .b2 {
    transform: scale(0.65);
  }
  .b3 {
    transform: scale(0.9);
  }
  .shape1.b2.b2Bottom {
    margin-top: -20%;
    margin-left: -10%;
  }
  .shape1.b2.b2Bottom1 {
    margin-top: -21%;
    margin-left: -15%;
  }

  .inspirationShape img {
    width: 260px !important;
    height: 230px !important;
  }
  .inspirationShape {
    margin-left: -10%;
  }
  .insr-main {
    width: 260px !important;
    height: 230px !important;
    padding: 2% !important;
    margin-top: 14px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  .big-about {
    height: 314px !important;
    width: 319px !important;
    clip-path: polygon(25% 0%, 72% 0%, 100% 50%, 72% 100%, 25% 100%, 0% 50%);
  }
  .inspirationShape1 {
    width: 260px !important;
    height: 230px !important;
    margin-top: 14px;
    background: url(./assets/VintagePhotos.jpg) no-repeat;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-size: cover;
  }
  .innova-D-image {
    margin-top: 22%;
  }
  .inov-inst {
    margin-top: -32%;
  }
  .innovation-main {
    margin-left: -5%;
  }

  .about-img-one {
    background: url(./assets/aboutB.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
  }

  .about-img-two {
    background: url(./assets/aboutUpor.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }

  .about-img-three {
    background: url(./assets/aboutNich.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .big-aboutB {
    height: 314px !important;
    width: 319px !important;
    clip-path: polygon(25% 0%, 72% 0%, 100% 50%, 72% 100%, 25% 100%, 0% 50%);
  }
  .about-D-image {
    margin-left: -12%;
  }
  .insp-img-one {
    /* background: url(./assets/VintagePhotos.jpg) no-repeat; */
    background-position: center;
    background-size: cover;
  }

  .insp-img-two {
    /* background: url(./assets/Scrollimage3.jpg) no-repeat; */
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .insr-mainleft {
    padding: 5% !important;
  }
  .insp-img-three {
    /* background: url(./assets/GreetCard1.jpg) no-repeat; */
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .Inspiration-main .shape-left {
    align-self: center;
    margin-right: -4%;
    margin-top: 1%;
  }

  .bg-shape img {
    width: 300px !important;
    height: 300px !important;
    margin-top: -5%;
    clip-path: polygon(24% 0%, 70% 0%, 99% 50%, 69% 100%, 24% 100%, 0% 50%);
  }
  .innvTwo {
    background: url(./assets/innvUpor.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .innvOne {
    background: url(./assets/innvNich.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about-shape-main {
    /* margin-left: 24%; */
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .inspirationShape img {
    width: 200px !important;
    height: 200px !important;
  }

  .shape1 {
    height: 120px;
    width: 200px;
    background-color: rgb(223, 223, 223);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

    position: relative;
  }
  .b1 {
    transform: scale(0.9);
  }
  .b2 {
    transform: scale(0.55);
  }
  .b3 {
    transform: scale(0.7);
  }
  .shape1.b2.b2Top1 {
    margin-right: -31%;
  }
  .shape1.b2.b2Top {
    margin-right: -17%;
  }
  .shape1.b2.b2Bottom {
    margin-top: -27%;
    margin-left: -30%;
  }
  .shape1.b2.b2Bottom1 {
    margin-top: -22%;
    margin-left: -25%;
  }
  .inspirationShape {
    margin-left: -10%;
  }
  .insr-main {
    width: 200px !important;
    height: 200px !important;
    padding: 2% !important;
    margin-top: 14px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  .big-about {
    height: 250px !important;
    width: 300px !important;
    clip-path: polygon(25% 0%, 72% -6%, 96% 50%, 72% 103%, 25% 100%, 0% 50%);
  }

  .inspirationShape1 {
    width: 200px !important;
    height: 200px !important;
    margin-top: 14px;
    background: url(./assets/VintagePhotos.jpg) no-repeat;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-size: cover;
  }

  .about-img-one {
    background: url(./assets/aboutB.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
  }

  .about-img-two {
    background: url(./assets/aboutUpor.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }

  .about-img-three {
    background: url(./assets/aboutNich.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }

  .about-img-one {
    background: url(./assets/aboutB.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
  }

  .about-img-two {
    background: url(./assets/aboutUpor.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }

  .about-img-three {
    background: url(./assets/aboutNich.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }

  .big-aboutB {
    height: 250px !important;
    width: 300px !important;
    clip-path: polygon(25% 0%, 75% 0%, 95% 48%, 73% 98%, 27% 98%, 2% 48%);
  }
  .about-D-image {
    margin-left: -12%;
  }
  .insp-img-one {
    /* background: url(./assets/VintagePhotos.jpg) no-repeat; */
    background-position: center;
    background-size: cover;
  }

  .insp-img-two {
    /* background: url(./assets/Scrollimage3.jpg) no-repeat; */
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .insr-mainleft {
    padding: 5% !important;
  }
  .insp-img-three {
    /* background: url(./assets/GreetCard1.jpg) no-repeat; */
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .inspirationMain {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .bg-shape img {
    width: 250px !important;
    height: 250px !important;
    margin-top: -5%;
    -webkit-clip-path: polygon(
      24% 0%,
      73% 0%,
      99% 50%,
      69% 100%,
      24% 100%,
      0% 50%
    );
    clip-path: polygon(24% 0%, 73% 0%, 99% 50%, 72% 100%, 24% 100%, 0% 50%);
  }
  span.skip {
    right: 23px;
    top: 13px;
    font-size: 18px;
  }
  .sectionTitle {
    font-size: 35px !important;
    text-align: center;
    /* background-color: rgb(148, 24, 24); */
    margin: 0 auto 5%;
  }

  .ImageBottom.shape-left.InnovationRight {
    /* transform: translate(-12%, -32%) rotate(0deg); */
    margin-left: -15%;
  }
  .ImageTop.Innovationleft.shape-left {
    /* transform: translate(1%, 1%) rotate(360deg); */
    transform: translate(5%, 35%) rotate(360deg);
  }
  .innova-D-image {
    margin-top: 28%;
  }
  .inov-inst {
    margin-top: -32%;
  }
  .inov-grid {
    display: flex;
    justify-content: center;
  }
  .innvTwo {
    background: url(./assets/innvUpor.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .innvOne {
    background: url(./assets/innvNich.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .inspirationMain {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  span.skip {
    right: 23px;
    top: 13px;
    font-size: 18px;
  }
  .shape1 {
    height: 100px;
    width: 200px;
    background-color: rgb(223, 223, 223);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

    position: relative;
  }
  .b1 {
    transform: scale(0.9);
  }
  .b2 {
    transform: scale(0.45);
  }
  .b3 {
    transform: scale(0.6);
  }
  .shape1.b2.b2Bottom {
    margin-top: -30%;
    margin-left: -32%;
  }
  .shape1.b2.b2Bottom1 {
    margin-top: -34%;
    margin-left: -50%;
  }
  .inspirationShape {
    margin-left: -10%;
  }
  .inspirationMain {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .inspirationShape img {
    width: 200px !important;
    height: 200px !important;
  }
  .insr-main {
    width: 200px !important;
    height: 200px !important;
    padding: 2% !important;
    margin-top: 14px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  .big-about {
    height: 250px !important;
    width: 300px !important;
    clip-path: polygon(25% 0%, 72% -6%, 96% 50%, 72% 103%, 25% 100%, 2% 50%);
  }

  .inspirationShape1 {
    width: 200px !important;
    height: 200px !important;
    margin-top: 14px;
    background: url(./assets/VintagePhotos.jpg) no-repeat;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-size: cover;
  }

  .about-img-one {
    background: url(./assets/aboutB.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
  }

  .about-img-two {
    background: url(./assets/aboutUpor.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }

  .about-img-three {
    background: url(./assets/aboutNich.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }

  .big-aboutB {
    height: 250px !important;
    width: 300px !important;
    clip-path: polygon(25% 0%, 75% 0%, 95% 48%, 73% 98%, 27% 98%, 4% 48%);
  }
  .about-D-image {
    margin-left: -12%;
  }

  .insp-img-one {
    /* background: url(./assets/VintagePhotos.jpg) no-repeat; */
    background-position: center;
    background-size: cover;
    margin-top: 5px;
  }

  .insp-img-two {
    /* background: url(./assets/Scrollimage3.jpg) no-repeat; */
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .insr-mainleft {
    padding: 5% !important;
  }
  .insp-img-three {
    /* background: url(./assets/GreetCard1.jpg) no-repeat; */
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .bg-shape img {
    width: 220px !important;
    height: 220px !important;
    margin-top: -5%;
    -webkit-clip-path: polygon(
      24% 0%,
      73% 0%,
      99% 50%,
      69% 100%,
      24% 100%,
      0% 50%
    );
    clip-path: polygon(24% 0%, 73% 0%, 99% 50%, 73% 100%, 24% 100%, 0% 50%);
  }
  .sectionTitle {
    font-size: 35px !important;
    text-align: center;
    margin: 10% auto;
  }
  span.skip {
    right: 23px;
    top: 13px;
    font-size: 18px;
  }
  .sectionTitle {
    font-size: 35px !important;
  }
  .ImageBottom.shape-left.InnovationRight {
    /* transform: translate(-12%, -32%) rotate(0deg); */
    margin-left: -13%;
  }
  .ImageTop.Innovationleft.shape-left {
    /* transform: translate(1%, 1%) rotate(360deg); */
    transform: translate(5%, 35%) rotate(360deg);
  }
  .innova-D-image {
    margin-top: 28%;
  }
  .inov-inst {
    margin-top: -32%;
  }
  .inov-grid {
    display: flex;
    justify-content: center;
  }
  .innvTwo {
    background: url(./assets/innvUpor.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .innvOne {
    background: url(./assets/innvNich.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
}
@media (max-width: 575.98px) {
  span.skip {
    right: 23px;
    top: 13px;
    font-size: 18px;
  }
  .shape1 {
    height: 70px;
    width: 200px;
    background-color: rgb(223, 223, 223);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

    position: relative;
  }
  .b1 {
    transform: scale(0.7);
  }
  .b2 {
    transform: scale(0.3);
  }
  .b3 {
    transform: scale(0.6);
  }
  .shape1.b2.b2Bottom {
    margin-top: -30% !important;
    margin-left: -35%;
  }
  .shape1.b2.b2Top {
    margin-top: -30%;
    margin-left: -15%;
  }
  .shape1.b2.b2Top1 {
    margin-top: -30% !important;
    margin-left: -65%;
  }
  .shape1.b2.b2Bottom1 {
    margin-top: -30%;
    margin-left: -65%;
  }
  .inspirationShape {
    margin-left: -11%;
  }
  .inspirationShape img {
    width: 150px !important;
    height: 150px !important;
  }
  .insr-main {
    width: 150px !important;
    height: 150px !important;
    padding: 2% !important;
    margin-top: 14px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  .big-about {
    height: 200px !important;
    width: 280px !important;
    clip-path: polygon(25% 0%, 75% -6%, 96% 50%, 77% 103%, 25% 100%, 6% 50%);
  }

  .inspirationShape1 {
    width: 150px !important;
    height: 150px !important;
    margin-top: 14px;
    background: url(./assets/VintagePhotos.jpg) no-repeat;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-size: cover;
  }

  .about-img-one {
    background: url(./assets/aboutB.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
  }

  .about-img-two {
    background: url(./assets/aboutUpor.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }

  .about-img-three {
    background: url(./assets/aboutNich.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }

  .big-aboutB {
    height: 200px !important;
    width: 280px !important;
    clip-path: polygon(25% 0%, 77% 0%, 95% 48%, 76% 98%, 27% 98%, 8% 48%);
  }
  .about-D-image {
    margin-left: -12%;
  }
  .insp-img-one {
    /* background: url(./assets/VintagePhotos.jpg) no-repeat; */
    background-position: center;
    background-size: cover;
    margin-top: 5px;
  }

  .insp-img-two {
    /* background: url(./assets/Scrollimage3.jpg) no-repeat; */
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .insr-mainleft {
    padding: 5% !important;
  }
  .insp-img-three {
    /* background: url(./assets/GreetCard1.jpg) no-repeat; */
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .inspirationMain {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .sectionTitle {
    font-size: 35px !important;
    text-align: center;
    /* background-color: rgb(148, 24, 24); */
    margin: 15% auto;
  }
  .bg-shape img {
    width: 220px !important;
    height: 220px !important;
    margin-top: -4%;
    -webkit-clip-path: polygon(
      24% 0%,
      73% 0%,
      99% 50%,
      69% 100%,
      24% 100%,
      0% 50%
    );
    clip-path: polygon(24% 0%, 73% 0%, 99% 50%, 72% 100%, 24% 100%, 0% 50%);
  }
  .ImageBottom.shape-left.InnovationRight {
    /* transform: translate(-12%, -32%) rotate(0deg); */
    margin-left: -13%;
  }
  .ImageTop.Innovationleft.shape-left {
    /* transform: translate(1%, 1%) rotate(360deg); */
    transform: translate(5%, 35%) rotate(360deg);
  }
  .innova-D-image {
    margin-top: 28%;
  }
  .inov-inst {
    margin-top: -32%;
  }
  .inov-grid {
    display: flex;
    justify-content: center;
  }
  .innvTwo {
    background: url(./assets/innvUpor.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
  .innvOne {
    background: url(./assets/innvNich.jpeg) no-repeat;
    margin-top: 0px !important;
    background-position: center;
    background-size: cover;
  }
}

@media only screen and (max-width: 1024px) {
  .lg-menu {
    display: none;
  }
  .sm-menu {
    display: block;
  }
  .hamburger {
    font-size: 52px;
    font-weight: bold;
  }
  .mid-nav {
    position: absolute;
    background-color: rgb(7, 3, 44);
    z-index: 100;
    top: -100%;
    width: 100%;
  }
  .mid-nav p {
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(19, 255, 176), rgb(7, 234, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .mid-nav p:hover {
    background-color: rgb(7, 134, 92);
    background: -webkit-linear-gradient(rgb(7, 134, 92), rgb(1, 125, 129));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}

h1 {
  font-size: 3rem;
}
