/* App */
.App {
  width: 100%;
  /* margin: 0 auto; */
  background-color: rgb(2, 9, 34);
  color: rgb(255, 255, 255);
}
html {
  scroll-behavior: smooth;
}
.link {
  text-decoration: none !important;
}
.link-active {
  color: rgb(47, 77, 243) !important;
}
.common-mt {
  margin-top: 10%;
  padding: 0px 5%;
}

/* Top */
.Top {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  right: 5%;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .menu ul {
  display: flex;
  padding: 10px;
}
.navbar .menu ul li {
  list-style: none;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(19, 255, 176), rgb(7, 234, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .menu ul li:hover {
  background: -webkit-linear-gradient(rgb(6, 91, 189), rgb(7, 234, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fPDpuU {
}

.banner {
  width: 100%;
}
.lcUbOd {
  background-color: rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 3px rgb(32 249 225 / 50%) !important;
}

.rec-carousel-item {
  background-color: rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 3px rgb(32 249 225 / 50%) !important;
}
.rec-carousel-item:focus {
  border: 1px solid rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 3px rgb(32 249 225 / 50%) !important;
}
.eaptOe {
  background-color: transparent;

  /* border: 1px solid rgb(32 249 225 / 50%) !important; */
  box-shadow: 0 0 1px 2px rgb(32 249 225 / 50%) !important;
}
.banner img {
  object-fit: cover;
  height: 70vh;
  width: 100%;
}
.shape-main {
  display: flex;
  /* margin-left: 30%; */
}
.shape-main img {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  /* border: 1px solid white; */
}
.shape-main p {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

  border: 1px solid white;
  height: 150px;
  width: 150px;
  /* margin-top: -23%; */
}
.shape-main {
  display: flex;
}
.shape-left {
  /* border: 1px solid red; */
  align-self: center;
}
.shape-right {
  display: flex;
  flex-direction: column;
}
.shape-right img {
  /* padding: 20px; */
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

/* service-main */

.service-main {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

/* Innovationleft */

.Innovationleft {
  display: flex;
}
.InnovationRight {
  display: flex;
  justify-content: flex-end;
  margin-top: -5%;
}
.shape-left.InnovationRight.Present {
  margin-top: 50%;
}

/* inspiration-padding */
.inspiration-padding {
  /* padding: 0 2%; */
}

/* about */
.option {
  border: 1px solid rgba(1, 44, 39, 0.5) !important;
  background-color: rgba(18, 13, 59, 0.5) !important;
  padding: 0px 50px;
  border-radius: 10px;
}
.option p {
  margin: 5px;
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(3, 2, 37);
  padding: 15px;
  border-radius: 10px;
}
.option p:hover {
  background-color: rgb(14, 14, 73);
}

.grid {
  display: flex;
  align-self: center;
  justify-content: center;
}

@media only screen and (max-width: 1440px) {
  .lg-menu {
    display: none;
  }
  .hamburger {
    font-size: 52px;
    font-weight: bold;
  }
  .mid-nav {
    position: absolute;
    background-color: rgb(7, 3, 44);
    z-index: 100;
    top: -100%;
    width: 100%;
  }
  .mid-nav p {
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(19, 255, 176), rgb(7, 234, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .mid-nav p:hover {
    background-color: rgb(7, 134, 92);
    background: -webkit-linear-gradient(rgb(7, 134, 92), rgb(1, 125, 129));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}
