/* App */
.App {
  width: 100%;
  /* margin: 0 auto; */
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.lg-menu {
  display: block;
}
.sm-menu {
  display: none;
}
html {
  scroll-behavior: smooth;
}
.link {
  text-decoration: none !important;
}
.link-active {
  color: rgb(47, 77, 243) !important;
}
.common-mt {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0px 5%;
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: rgb(26 26 26 / 80%) !important;
}
.cross {
  position: absolute;
  top: -10;
  right: 0;
  top: -10%;
  transform: translate(50%, 0%);
  background: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px 10px;
}
.cross:hover {
  background: rgb(173, 172, 172);
}
.css-ghpphw {
  background-color: rgba(255, 255, 255, 0) !important;
}

/* Top */
.Top {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  right: 5%;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .menu ul {
  display: flex;
  padding: 10px;
}
.navbar .menu ul li {
  list-style: none;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(19, 255, 176), rgb(7, 234, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .menu ul li:hover {
  background: -webkit-linear-gradient(rgb(6, 91, 189), rgb(7, 234, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .fPDpuU {
} */

.banner {
  width: 100%;
}
.lcUbOd {
  background-color: rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 3px rgb(32 249 225 / 50%) !important;
}

.rec-carousel-item {
  background-color: rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 3px rgb(32 249 225 / 50%) !important;
}
.rec-carousel-item:focus {
  border: 1px solid rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 3px rgb(32 249 225 / 50%) !important;
}

button.rec-dot {
  border: 1px solid rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 3px rgb(32 249 225 / 50%) !important;
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  border: 1px solid rgb(32 249 225 / 50%) !important;
  box-shadow: 0 0 1px 3px rgb(32 249 225 / 50%) !important;
}

.eaptOe {
  background-color: transparent;

  /* border: 1px solid rgb(32 249 225 / 50%) !important; */
  box-shadow: 0 0 1px 2px rgb(32 249 225 / 50%) !important;
}
.banner img {
  object-fit: cover;
  height: 70vh;
  width: 100%;
}
.shape-main {
  display: flex;
  /* margin-left: 30%; */
}
.shape-main img {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  /* border: 1px solid white; */
}
.shape-main p {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

  border: 1px solid white;
  height: 150px;
  width: 150px;
  /* margin-top: -23%; */
}
.shape-main {
  display: flex;
}
.shape-left {
  /* border: 1px solid red; */
  align-self: center;
}
.shape-right {
  display: flex;
  flex-direction: column;
}
.shape-right img {
  /* padding: 20px; */
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

/* service-main */

.service-main {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

/* Innovationleft */

.Innovationleft {
  display: flex;
}
.InnovationRight {
  display: flex;
  justify-content: flex-end;
  margin-top: -5%;
}
.shape-left.InnovationRight.Present {
  margin-top: 50%;
}

/* inspiration-padding */
/* .inspiration-padding {
  padding: 0 2%;
} */

/* about */
.option {
  /* border: 1px solid rgba(1, 44, 39, 0.5) !important; */
  background-color: rgb(0, 0, 0) !important;
  padding: 0px 50px;
  border-radius: 10px;
}
.option p {
  margin: 5px;
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 10px;
}
.option p:hover {
  background-color: rgb(0, 0, 0);
}
.Inspiration-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: flex;
  align-self: center;
  justify-content: center;
}
.sectionTitle {
  color: aqua;
  margin-left: 100px;
}

/* intro */
.Intro_video_wrap {
  position: relative;
}

span.skip {
  position: absolute;
  right: 66px;
  top: 28px;
  color: #fff;
  z-index: 555555;
  font-size: 23px;
  font-weight: 700;
  text-shadow: 0 0 10px;
  text-transform: capitalize;
  cursor: pointer;
}
.inspirationShape img {
  width: 350px;
  height: 300px;
}
.bg-shape img {
  width: 500px !important;
  height: 400px !important;
}

.footer {
  background-color: rgb(0, 0, 0);
}
.footer span {
  margin: 0px 5%;
}
.footer span:nth-child(1):hover {
  color: rgb(39, 84, 207);
}

.footer span:nth-child(2):hover {
  color: #5120d6;
}

.footer span:nth-child(3):hover {
  color: rgb(106, 143, 243);
}

.footer span:nth-child(4):hover {
  color: rgb(7, 45, 151);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  span.skip {
    right: 23px;
    top: 13px;
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 899px) {
  .inspirationMain {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .inspirationShape img {
    width: 200px !important;
    height: 200px !important;
  }
  .inspirationMain {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .bg-shape img {
    width: 200px !important;
    height: 200px !important;
  }
  span.skip {
    right: 23px;
    top: 13px;
    font-size: 18px;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .inspirationShape img {
    width: 200px !important;
    height: 200px !important;
  }

  .bg-shape img {
    width: 500px !important;
    height: 400px !important;
  }
  span.skip {
    right: 23px;
    top: 13px;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  span.skip {
    right: 23px;
    top: 13px;
    font-size: 18px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  span.skip {
    right: 23px;
    top: 13px;
    font-size: 18px;
  }
  .inspirationMain {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .inspirationShape img {
    width: 200px !important;
    height: 200px !important;
  }
  .bg-shape img {
    width: 200px !important;
    height: 200px !important;
  }
}
@media (max-width: 575.98px) {
  span.skip {
    right: 23px;
    top: 13px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 1024px) {
  .lg-menu {
    display: none;
  }
  .sm-menu {
    display: block;
  }
  .hamburger {
    font-size: 52px;
    font-weight: bold;
  }
  .mid-nav {
    position: absolute;
    background-color: rgb(7, 3, 44);
    z-index: 100;
    top: -100%;
    width: 100%;
  }
  .mid-nav p {
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(19, 255, 176), rgb(7, 234, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .mid-nav p:hover {
    background-color: rgb(7, 134, 92);
    background: -webkit-linear-gradient(rgb(7, 134, 92), rgb(1, 125, 129));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}

h1 {
  font-size: 3rem;
}
